div.modal
    display: flex !important
    @include flexCenter
    // bootstrap style remove
    div.modal-dialog
        width: 95vw
        max-width: 1500px
        margin-top: 50px
    div#img-preview-modal___BV_modal_body_
        width: 95vw
        max-width: 1500px
        span.gallery-page
            @include textUS
            font-size: 1.5rem
            height: 100%
            margin-right: 20px
    // my styles
    div.modal-img
        @include confBgImg
        width: 100%
        height: 70vh
    p.info
        @include textUS
        letter-spacing: 2px
        font-size: 1.1rem
    div.buttons-wrap
        @include flexCenter
        margin-top: 10px
        button
            @include textUS
            font-size: 1.2rem
            padding: 0px 20px
            cursor: pointer
            &:first-of-type
                margin-right: 20px
            &:focus
                outline: none
        button
            @include smoothHover
        button.deny
            @include smoothHoverReversed($red)
        button.allow
            @include smoothHoverReversed($green)