section#offer-navigation
    @include flexCenter
    width: 100vw
    min-height: 100px
    margin-bottom: 50px
    padding: 0 10px
    a
        @include smoothHover
        margin-left: 20px
        text-decoration: none
        font-size: 1.2rem
        padding: 5px 20px
        letter-spacing: 2px
        &:first-of-type
            margin-left: 0px
    a.router-link-exact-active
        background-color: $mainColor
        color: #fff !important
        cursor: default
    a
        &:nth-of-type(3)
            animation: fade-center .3s .2s both linear
        &:nth-of-type(2)
            animation: fade-center .3s .35s both linear
        &:nth-of-type(1)
            animation: fade-center .3s .5s both linear
    @media screen and ( max-width: 600px )
        flex-direction: column
        a
            width: 100%
            margin-left: 0
            margin-top: 20px