section#add-offer
    height: 100%
    display: flex
    justify-content: flex-end
    flex-direction: column
    align-items: center
    width: 100%
    padding: 30px 50px
    position: relative
    padding-bottom: 50px
    &::after
        content: ''
        @include absoluteFull
        background-image: url('/img/admin/add_offer_background.jpg')
        background-size: cover
        background-repeat: no-repeat
        background-position: center bottom
        opacity: .4
        z-index: 1
    // SIZES
    section#describe
        width: 60%
    section#activities
        width: 35%
    section#logo
        width: 35%
    section#gallery
        width: 60%
    //
    header#main,
    div.stages
        position: relative
        z-index: 2
        max-width: 1600px
    //
    //
    div.stages
        width: 100%
        position: relative
        height: 500px
        div.content
            padding: 10px
            background-color: rgba(255,255,255,.7)
            min-height: 500px
            input,
            textarea
                font-size: 1rem
                letter-spacing: 2px
                @include coloredFocus
        //
        section.stage
            @include absoluteFull
            display: flex
            width: 100%
            justify-content: space-between
            animation: fade-center-out .3s both
        //
        section.stage.active
            animation: fade-center .3s both
    //
    @import ./header
    @import ./uploading
    @import ./description/activities
    @import ./description/describe
    @import ./upload_images/upload_images_wrap